.ebay-klein {
  background: #fff;
  color: #333;
  font: 14px/19px Helvetica, sans-serif;
  line-height: 16px;
  width: 320px;
  margin: 0;
}
.ebay-klein__container {
  display: block;
  box-shadow: rgba(100, 115, 130, 0.15) 0px 5px 15px 0px;
  font: 14px/19px Helvetica, sans-serif;
  background: rgb(255, 255, 255);
  padding: 12px 8px 9px;
  border-radius: 3px;
  background: rgb(245, 247, 250);
}
.ebay-klein__header {
  font: 11px Helvetica, sans-serif;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: -8px;
}

.ebay-klein__header img {
  height: 20px;
  margin: 0 4px -4px 0;
}

.ebay-klein__header span {
  font-weight: 300;
}

.ebay-klein__main {
  all: initial;
  direction: ltr;
  display: block;
  min-height: 348px;
  position: relative;
  font: 14px/19px Helvetica, sans-serif;
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(171, 182, 191);
  border-image: initial;
  background: rgb(255, 255, 255);
  margin: 8px 0px;
}

.ebay-klein__main__image {
  background: url("https://svgshare.com/i/GMS.svg") no-repeat center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 50px auto 0;
}

.ebay-klein__btn {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  min-width: 140px;
  min-height: 26px;
  margin: 20px auto;
  min-width: 65px;
  box-sizing: border-box;
  text-align: center;
  height: 30px;
  width: 47%;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  padding: 0px 5px;
  background: linear-gradient(rgb(247, 247, 247) 0%, rgb(255, 255, 255) 100%);
  border: 1px solid rgb(171, 182, 191);
}
.ebay-klein__image-svg {
  width: 100%;
}

.ebay-klein__result {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;
}
.ebay-klein__result a {
  margin: 5px;
  width: 45%;
}
.ebay-klein__result img {
  width: 100%;
  padding: 0;
  border: 0;
}
